<div class='container mb-5 mt-5'>
  <div class=''>
    <form class="h-adr">
      <span class="p-country-name" style="display:none;">Japan</span>
      <legend>Order Form</legend>
      <fieldset class="control-group">
        <label for="zip01" class="control-label">郵便番号</label>
        <div class="controls">
          <input type="text" class="p-postal-code" size="8" maxlength="8" style="width:10%">
        </div>
      </fieldset>
      <fieldset class="control-group">
        <label for="pref01" class="control-label mt-3">都道府県</label>
        <div class="controls">
          <input type="text" class="p-region formReadOnly" style="width:30%" readonly />
        </div>
      </fieldset>
      <fieldset class="control-group">
        <label for="addr01" class="control-label mt-3">市町村</label>
        <div class="controls">
          <input type="text" class="p-locality  p-street-address formReadOnly" style="width:30%" readonly />
        </div>
      </fieldset>
      <fieldset class="control-group">
        <label for="addr01" class="control-label mt-3">以降の住所</label>
        <div class="controls">
        <input type="text" class="p-extended-address" style="width:50%" />
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class='container'>
  <h3>Item Information</h3>
  <table class='formTable' border="0">
        <thead>
            <tr>
                <th>id</th>
                <th>ItemName</th>
                <th>ItemQty</th>
                <th>ItemPrice</th>
                <th>TotalPrice</th>
                <th>RemoveRow</th>
            </tr>
        </thead>
        <tbody>
            <tr class='tr'>
                <td>１</td>
                <td>
                  <select style="width:80%" name="sku_code" id='SkuBox'>
                    <option value="selected">商品を選択してください</option>
                    <option value="1">SKU0001</option>
                    <option value="2">SKU0002</option>
                    <option value="3">SKU0003</option>
                    <option value="4">SKU0004</option>
                  </select>
                </td>
                <td><input type="number" class="inputNum itemQty" value="0" /></td>
                <td><input type="number" class="inputNum itemPrice" value="0" /></td>
                <td><span class="totalPrice"></span></td>
                <td><button class="removeRow ml-4">-</button></td>
            </tr>
            <tr class='tr'>
                <td>2</td>
                <td>
                  <select style="width:80%" name="都道府県">
                    <option value="selected">商品を選択してください</option>
                    <option value="kanagawa">SKU0001</option>
                    <option value="chiba">SKU0002</option>
                    <option value="saitama">SKU0003</option>
                    <option value="ibaraki">SKU0004</option>
                  </select>
                </td>
                <td><input type="number" class="inputNum itemQty" value="0" /></td>
                <td><input type="number" class="inputNum itemPrice" value="0" /></td>
                <td><span class="totalPrice"></span></td>
                <td><button class="removeRow ml-4">-</button></td>
            </tr>
        </tbody>
    </table>
<button id="addRow">+ 追加</button>
</div>

<%= form_with souko_zaiko: ＠sku_code do |f| %>
  <%= f.select :sku_code, SoukoZaiko.all.map{ |zaiko| [zaiko.sku_code, zaiko.id] },
  {include_blank: '選択ボックス'},
  class: 'SoukoZaiko' %>
<% end %>





<%# <input type="text" id="total" class="formReadOnly" readonly /> %>
<div class="container">
    <div class="row mb-5">
        <div class='col-md-8'></div>
        <div class="col-md-4 anderLine mb-3">Total:  <span id="total" class='ml-5'></span></div>
        <div class='col-md-8'></div>
        <div class="col-md-4 anderLine mb-3">Tax (10%):  <span id="tax" class='ml-5'></span></div>
        <div class='col-md-8'></div>
        <div class="col-md-4 anderLine mb-3">TotalAmount:  <span id="totalAmount" class='ml-5'></span></div>
    </div>
      <div class="text-right">
        <button class="btn btn-danger">削除</button>
        <button class="btn btn-info">確定</button>
      </div>
</div>

