// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

text-right {
  text-align: right;
}

form label {
  border-bottom: 3px solid #174a5c;
}

.anderLine {
  border-bottom: 1px solid #174a5c;
}

.formReadOnly {
  border: none;
  cursor: default;
}

.formTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  margin: 20px;
  text-align: left;
  .totalPrice {
    text-align: center;
  }
}
.formTable th {
  color: black;
  padding: 10px;
  border-bottom: 3px solid #174a5c;
}
.formTable td {
  padding: 8px;
  color: gray;
  border-bottom: 1px solid gray;
  input {
    text-align: center;
  }
}

#addRow {
  width: 130px;
  height: 40px;
  font-size: 16px;
  background-color: lightseagreen;
  color: white;
  border: none;
  margin: 20px;
  border-radius: 5px;
  button:hover {
    cursor: pointer;
  }
}

.removeRow {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
}

.error_alert {
  color: #262626;
  background: #ffebe8;
  // text-align: center;
  border: 2px solid #990000;
  padding: 12px;
  font-weight: 850;
}
